--- REALIZANDO A JUNÇÃO DE 3 DATASETS PARA ANÁLISE DO PREÇO MÉDIO DO FRETE POR ESTADO ---

In [4]:
import pandas as pd
    
    
items = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/brazilian-ecommerce/olist_order_items_dataset.csv")
orders = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/brazilian-ecommerce/olist_orders_dataset.csv") 
state = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/brazilian-ecommerce/olist_customers_dataset.csv")

In [13]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [12]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [11]:
state

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

--- COLUNA JUNÇÃO trata-se da coluna em comum entre dos dois arquivos que será a ancora da junção no caso a coluna 'order_id'

In [5]:
coluna_juncao = ['order_id']

--- JUNÇÃO _DF =  executa através do comando merge a junção dos dois arquivos csv indicados como: items e orders

In [6]:
juncao_df = pd.merge(items, orders, on=coluna_juncao, how='inner')

In [7]:
coluna_state = ['customer_id']

--- JUNÇÃO_STATE  = realizará a junção entre o df junção_df e o arquivo cvs state, possibilitando relacionar os id_clientes com os pedidos e assim localizar o estado de destino do pedido e mensurar o valor médio do frete por estado

In [8]:
juncao_state = pd.merge(state, juncao_df, on=coluna_state, how='inner')

In [10]:
juncao_state

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,1,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
112646,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,1,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
112647,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,1,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
112648,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,1,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
112649,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,1,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

--- PREÇO MÉDIO TOTAL DO FRETE =  realiza a média nacional do frete

In [16]:
preco_medio_total_frete = preco_medio_frete_por_uf['freight_value'].mean()

In [17]:
print("Preço médio do frete por Estados é: ", preco_medio_total_frete)

Preço médio do frete por Estados é:  30.46579976979815

--- PREÇO MÉDIO DO FRETE POR UF =  realiza a média por estado obtendo 26 médias estaduais

In [18]:
preco_medio_frete_por_uf = juncao_state.groupby(['customer_state'])['freight_value'].mean().reset_index()

In [42]:
preco_medio_frete_por_uf

   customer_state  freight_value
0              AC      40.073370
1              AL      35.843671
2              AM      33.205394
3              AP      34.006098
4              BA      26.363959
5              CE      32.714202
6              DF      21.041355
7              ES      22.058777
8              GO      22.766815
9              MA      38.257002
10             MG      20.630167
11             MS      23.374884
12             MT      28.166284
13             PA      35.832685
14             PB      42.723804
15             PE      32.917863
16             PI      39.147970
17             PR      20.531652
18             RJ      20.960924
19             RN      35.652363
20             RO      41.069712
21             RR      42.984423
22             RS      21.735804
23             SC      21.470369
24             SE      36.653169
25             SP      15.147275
26             TO      37.246603

--- Salva o DF em um arquivo CSV

In [23]:
preco_medio_frete_por_uf.to_csv('C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/preco_medio_frete_por_uf.csv', index=False)

In [3]:
import pandas as pd 

media_frete_uf = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH\MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/preco_medio_frete_por_uf.csv")
media_dias_uf = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH\MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/media_dias_entrega_uf.csv")

<>:3: SyntaxWarning: invalid escape sequence '\M'
<>:4: SyntaxWarning: invalid escape sequence '\M'
<>:3: SyntaxWarning: invalid escape sequence '\M'
<>:4: SyntaxWarning: invalid escape sequence '\M'
C:\Users\leopo\AppData\Local\Temp\ipykernel_29964\860652961.py:3: SyntaxWarning: invalid escape sequence '\M'
  media_frete_uf = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH\MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/preco_medio_frete_por_uf.csv")
C:\Users\leopo\AppData\Local\Temp\ipykernel_29964\860652961.py:4: SyntaxWarning: invalid escape sequence '\M'
  media_dias_uf = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH\MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/media_dias_entrega_uf.csv")

In [4]:
media_frete_uf

   customer_state  freight_value
0              AC      40.073370
1              AL      35.843671
2              AM      33.205394
3              AP      34.006098
4              BA      26.363959
5              CE      32.714202
6              DF      21.041355
7              ES      22.058777
8              GO      22.766815
9              MA      38.257002
10             MG      20.630167
11             MS      23.374884
12             MT      28.166284
13             PA      35.832685
14             PB      42.723804
15             PE      32.917863
16             PI      39.147970
17             PR      20.531652
18             RJ      20.960924
19             RN      35.652363
20             RO      41.069712
21             RR      42.984423
22             RS      21.735804
23             SC      21.470369
24             SE      36.653169
25             SP      15.147275
26             TO      37.246603

In [5]:
media_dias_uf

   customer_state  tempo_entrega
0              AC      20.637500
1              AL      24.040302
2              AM      25.986207
3              AP      26.731343
4              BA      18.866400
5              CE      20.817826
6              DF      12.509135
7              ES      15.331830
8              GO      15.150741
9              MA      21.117155
10             MG      11.543813
11             MS      15.191155
12             MT      17.593679
13             PA      23.316068
14             PB      19.953578
15             PE      17.965474
16             PI      18.993697
17             PR      11.526711
18             RJ      14.849186
19             RN      18.824895
20             RO      18.913580
21             RR      28.975610
22             RS      14.819237
23             SC      14.479560
24             SE      21.029851
25             SP       8.298061
26             TO      17.226277

In [6]:
juncao_column = ['customer_state']

In [8]:
medias_frete_dias_juncao = pd.merge(media_dias_uf, media_frete_uf, on=juncao_column, how='inner')

--- REALIZADA a junção em um único df dontendo as medias de dias e valor de frete para comparação

In [10]:
medias_frete_dias_juncao

   customer_state  tempo_entrega  freight_value
0              AC      20.637500      40.073370
1              AL      24.040302      35.843671
2              AM      25.986207      33.205394
3              AP      26.731343      34.006098
4              BA      18.866400      26.363959
5              CE      20.817826      32.714202
6              DF      12.509135      21.041355
7              ES      15.331830      22.058777
8              GO      15.150741      22.766815
9              MA      21.117155      38.257002
10             MG      11.543813      20.630167
11             MS      15.191155      23.374884
12             MT      17.593679      28.166284
13             PA      23.316068      35.832685
14             PB      19.953578      42.723804
15             PE      17.965474      32.917863
16             PI      18.993697      39.147970
17             PR      11.526711      20.531652
18             RJ      14.849186      20.960924
19             RN      18.824895      35.652363
20             RO      18.913580      41.069712
21             RR      28.975610      42.984423
22             RS      14.819237      21.735804
23             SC      14.479560      21.470369
24             SE      21.029851      36.653169
25             SP       8.298061      15.147275
26             TO      17.226277      37.246603

--- DF ORDENADO PELA COLUNA FRETE DECRESCENTE

In [13]:
df_ordem_decrescente = medias_frete_dias_juncao.sort_values(by ='freight_value', ascending=False)

# DF ordenado de forma decrescente concentrando-se no valor do frete como base da análise

In [14]:
df_ordem_decrescente

   customer_state  tempo_entrega  freight_value
21             RR      28.975610      42.984423
14             PB      19.953578      42.723804
20             RO      18.913580      41.069712
0              AC      20.637500      40.073370
16             PI      18.993697      39.147970
9              MA      21.117155      38.257002
26             TO      17.226277      37.246603
24             SE      21.029851      36.653169
1              AL      24.040302      35.843671
13             PA      23.316068      35.832685
19             RN      18.824895      35.652363
3              AP      26.731343      34.006098
2              AM      25.986207      33.205394
15             PE      17.965474      32.917863
5              CE      20.817826      32.714202
12             MT      17.593679      28.166284
4              BA      18.866400      26.363959
11             MS      15.191155      23.374884
8              GO      15.150741      22.766815
7              ES      15.331830      22.058777
22             RS      14.819237      21.735804
23             SC      14.479560      21.470369
6              DF      12.509135      21.041355
18             RJ      14.849186      20.960924
10             MG      11.543813      20.630167
17             PR      11.526711      20.531652
25             SP       8.298061      15.147275

--- CONCLUSÃO DAS ANÁLISES --- 

-- LOGÍSTICA--

- Roraima lidera o ranking como estado com a maior média de frete com R$ 42,98 e 29 dias para entrega;
- Paraíba na sequência com segunda posição tendo R$ 42,78 de média do valor de frete com 20 dias média como prazo de entrega;
- Analisando este DF podemos estabelecer rotas logísticas que facilitem as entregas nas regiões NORTE e NORDESTE, isso possibilitaria MENORES prazos e VALORES nos fretes;
- Explorando incentivos fiscais em Estados situados nestas regiões e mão de obra, pode ser viável estabelecer pequenos centros de distribuição nas regiões citadas nesta análise proporcionando uma operação mais eficaz e diminuição dos custos operacionais; 
- Para demais Estados onde identificamos gargalos operacionais e custos mais elevados podemos adotar medidas semelhantes levando em consideração desde incentivos fiscais, malha viária disponível na região e modais de entrega mais adequados para a operação visando agilidade, qualidade e custo mínimo impactando na qualidade da entrega e tempo.
-  SEGUNDA OPÇÃO - seria a adoção de veículos agregados em pontos estratégicos que podem realizar as entregas estabelecidas por rotas, podemos explorar desde pequenos utilitários como VANS, PICK-UPS, FURGÕES, MOTOCICLETAS entre outros disponíveis na região com o intuito de dimiuir os prazos de entrega. 
-  A adoção de uma frota de drones podem realizar pequenas entregas guiadas por GEOLOCALIZAÇÃO, capitais e regiões metropolitanas poderiam ser beneficiadas por este modal tecnologico. 

-- EXPERIÊNCIA DO CLIENTE --

- Adequados aos parâmetros de VALOR DE FRETE X PRAZO DE ENTREGA podemos realizar ações de marketing e publicidade focando principalmente na vantagem do cliente em comprar através de nossas plataformas e obter um valor mais adequado à sua compra e um prazo de entrega muito menor que os concorrentes;
- Com centros logísticos instalados em regiões estratégicas podemos dispôr da opção RETIRE AQUI, onde o cliente pode ir até uma agência para retirar sua compra e obter desde FRETE GRÁTIS até um valor inferior no frete caso fosse entregue em sua casa; 
- COm a adoção de tecnologia para entrega dde pedidos (DRONES) podemos incentivar o consumo CONSCIENTE onde deixamos de emitir toneladas de CO2 na atmosfera utilizando um modal tecnológico elétrico e ecologicamente correto destinando as compras dos clientes até suas residências de forma mais assertiva, tecnológica e ágil do que os meios convencionais. AINDA reforçando o uso da tecnologia podemos mostrar aos clientes que esta modalidade também colabora para a diminuição de veículos nas vias públicas contribuindo para um trânsito menos congestionado.